.DS_Store
feature_engine/data/.DS_Store
feature_engine/.DS_Store
feature_engine/data/raw_data/results_by_user_detailed.csv
feature_engine/features/lexicons_dict.pkl
feature_engine/features/lexicons/liwc_lexicons/
feature_engine/features/lexicons/liwc_lexicons_small_test/
feature_engine/features/lexicons/certainty.txt
feature_engine/modules/
feature_engine/output/*
feature_engine/__pycache__/
feature_engine/features/__pycache__/
feature_engine/ipython_notebooks/.ipynb_checkpoints/
testing/ipython_notebooks/.ipynb_checkpoints/
team_process_map/
feature_engine/utils/__pycache__/
.idea/
feature_engine/features/lexicons_dict.pkl
*.py[cod]
feature_engine/data/vectors/sentence
feature_engine/data/vectors/sentiment
feature_engine/features/lexicons/certainty.txt
